@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
.head {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: rgb(9, 4, 58);
}
.head2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  text-decoration: dashed;
  color: darkblue;
}
.head3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  color: rgb(63, 57, 6);
  text-align: center;
}
.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  background-color: rgb(235, 227, 241);
}
.Nelson {
  float: left;
  border-radius: 5px 5px;
  height: 200px;
  width: 150px;
}
.h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgb(9, 4, 58);
}
.Mandela {
  float: right;
  border-radius: 5px 10px;
  height: 300px;
  width: 500px;
}
a {
  color: rgb(1, 41, 53);
}

.achievements {
  border: double 10px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}
fieldset {
  color: rgb(1, 2, 54);
  border: 6px solid rgb(28, 43, 129);
  border-style: dotted;
  width: 350px;
  float: none;
}

legend {
  font-weight: bolder;
  text-align: center;
  text-indent: 1.5pt;
}
button {
  background-color: #e2e213;
  color: cornsilk;
}
ul {
  list-style: lower-roman;
  list-style-position: initial;
}

input {
  border-radius: 5px;
}
